<!--The content below is only a placeholder and can be replaced.-->
<div class="jumbotron">
  <h1 class="display-4">URL Shortener</h1>
  <p class="lead">This is a simple service for making your URLs shorter that are easy to read and share.</p>
  <hr class="my-4">
  <p>Enter URL below and click "Generate" button. Or you can try to make your own short url</p>
  <form [formGroup]="urlForm" (ngSubmit)="onSubmit(urlForm)">
    <div class="form-group">
      <label for="baseURL">URL</label>
      <input formControlName="baseURL" class="form-control" id="baseURL" placeholder="Enter url">
      <div *ngIf="urlForm.valid && !isValidURL" class="alert alert-danger">
          <div *ngIf="!isValidURL">
              URL is not exists
          </div>
      </div>
    </div>
    <div class="form-group">
      <label for="customUrl">Custom short url ending</label>
      <input formControlName="customURL" type="url" class="form-control" id="customUrl" placeholder="Enter desired short url ending">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="urlForm.invalid">Generate</button>
  </form>
  
  <div class="form-group" style="margin-top: 10px;">
      <label for="shortenUrl">Your short url</label>
      <input [(ngModel)]="shortenURL" type="url" class="form-control" id="shortenUrl" placeholder="Here you'll see shortened url" readonly>
    </div>
</div>

<router-outlet></router-outlet>
